body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 4px;
  padding: 10px;
  width: 200px;
  background-color:lightskyblue;
  color: black;
  border-radius: 5px;
  border:none;
}

button:disabled {
  background-color: rgb(100, 100, 100);
}

.pianoRoll {
  position: relative;
  height: 200px;
  width: 800px;
}

.pianoRoll > canvas {
  position: absolute;
  transform: translateX(-50%);

  height: 200px;
  aspect-ratio: 4;

  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;

}

.pianoRoll > div {
  position: absolute;
  height: 100%;
  width: 1.5625%;
  background-color: #ffa07a77;
  display: table;
}