:root {
  --card-corner-rounding: 10px;

  --theme_black: #2d3436;
  --theme_dark:#636e72;
  --theme_light: #b2bec3;
  --theme_white: #dfe6e9;
  --theme_red_dark: #d63031;
  --theme_red_light: #ff7675;
  --theme_purple_dark: #6c5ce7;
  --theme_purple_light: #a29bfe;
  --theme_blue_dark: #0984e3;
  --theme_blue_light: #74b9ff;
  --theme_green_dark: #00b894;
  --theme_green_light:#55efc4;
  --theme_yellow_dark: #fdcb6e;
  --theme_yellow_light: #ffeaa7;
  --theme_cyan_dark: #00cec9;
  --theme_cyan_light: #81ecec;


}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow: hidden;
  color: white;
  background-color: #282c34;
  margin: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

div {
  border-radius: 15px;
}


button {
  margin: 4px;
  padding: 10px;
  width: 200px;
  background-color:lightskyblue;
  color: black;
  border-radius: 5px;
  border:none;
}

button:disabled {
  background-color: rgb(100, 100, 100);
}

.pianoRoll {
  position: relative;
  height: 200px;
  width: 800px;
  overflow: hidden;
}

.pianoRoll > canvas {
  position: absolute;
  border-radius: 15px;
  /* transform: translateX(-50%); */

  height: 200px;
  aspect-ratio: 4;

  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;

}

.songLine {
  transition: margin-left 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.subText {
  color: var(--theme_light);
  font-size: 20px;
}

.pianoRoll > div {
  position: absolute;
  height: 100%;
  width: 1.5625%;
  background-color: #ffa07a77;
  display: table;
}